@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator{
    /* WebKit browsers */
    display: none;
    -webkit-appearance: none;
}

input[type=date]:required:invalid::-webkit-datetime-edit {
    color: transparent;
}
input[type=date]:focus::-webkit-datetime-edit {
    color: black !important;
}